<div class="container">
    <div class="userData perHalf floatLeft">
        <div class="userInfo">
            <div class="userAvatar">
                <img src="[[ userData.avatar ]]"
                     alt="[[ userData.full_name ]] | [[ userData.position ]] | [[userData.company]]"
                     title="[[ userData.full_name ]] | [[ userData.position ]] | [[userData.company]]">
            </div>
            <div class="userTitle">
                <div class="userName">
                    [[ userData.full_name ]]
                </div>
                <div class="userPosition">
                    [[ userData.position ]] | [[ userData.company]] | [[ userData.location ]]
                </div>
            </div>
        </div>
    </div>
    <div class="socialLinks perHalf floatLeft">
        <div class="userLinks">
            <ul>
                <li ng-repeat="link in userData.social_links" ng-if="link.show">
                    <a href="[[ link.url ]]"
                       target="_blank"
                       ng-bind-html="link.ico"></a>
                </li>
            </ul>
        </div>
    </div>
</div>