<header class="clearFix">
    <div class="container">
        <a href="" class="headerLogo"
           ui-sref="Home()">
            <img src="app/assets/img/logo.png"
                 alt="Alex.V - Front-End Developer"
                 title="Alex.V - Front-End Developer">
        </a>
        <mobile-nav data-navigation="headerNavigation"></mobile-nav>
        <nav class="headerNavigation">
            <ul>
                <li>
                    <a href=""
                       ui-sref="Home()"
                       ui-sref-active="active">Home</a>
                </li>
                <li>
                    <a href=""
                       ui-sref="About()"
                       ui-sref-active="active">About</a>
                </li>
                <li>
                    <a href=""
                       ui-sref="ProjectsList()"
                       ng-class="{'active': currentState == 'Project'}"
                       ui-sref-active="active">Projects</a>
                </li>
                <li>
                    <a href=""
                       ui-sref="Works()"
                       ui-sref-active="active">Work experience</a>
                </li>
                <li>
                    <a href=""
                       ui-sref="Contacts()"
                       ui-sref-active="active">Contacts</a>
                </li>
            </ul>
        </nav>
    </div>
</header>